<div class="categories-fields-wrapper">
  <div class="categories-header">
    <label>Service Population</label>
    <%= image_tag("collapse-arrow.png", class:"arrow-down") %>
  </div>
  <div class="categories-fields">
    <% sectors.each do |sector| %>
     <% if sector.name != 'Other' %>
      <div class="input-group">
        <%= check_box_tag "sectors[#{sector.id}]", sector.id,
        (params[:sectors] and params[:sectors]["#{sector.id}"] == sector.id.to_s), {} %>
        <span class="small">
          <%= sector.name %>
        </span>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- <input id="search_Domestic Violence" value="1" name="search[Domestic Violence]" type="checkbox"> -->
