<div class="breadcrumbs bc">Edit a Workshop</div>
<h2 class="normal">Do you have a new workshop or a variation on a current workshop you'd like to share with us? Please submit below.</h2>
<hr>
<%= render 'form', workshop: @workshop, url: workshop_path(@workshop), inactive: @workshop.inactive %> 