<div class='entry-content'>
  <h2 class='normal'>Create a new Workshop</h2>
  <p>All fields below are optional</p>
</div>

<%= render 'form', workshop: @workshop, url: '/workshops/create_from_log', inactive: false %>
