<div class="row">
  <div class="col-md-10 col-lg-8">
    <div class='entry-content'>
      <h2 class='normal'>Submit Workshop Idea</h2>
      <p>We encourage you to create your own workshop or a variation of an existing workshop. Please enter the details of your creation below. All fields are optional.</p>
      <p>If this is an original workshop for which you have already submitted the details, simply enter the workshop title and leave the rest of the fields blank as you do not need to re-submit what we already have on file.</p>
    </div>
  </div>
</div>

<%= render 'form', workshop: @workshop, url: workshops_path %>
