<div class="input-group">
    <%= radio_button_tag :type, "created",
          params[:type] == "created",
          onclick: ("addURL('created')") %>

    <span class="small">
      Date Bookmarked
    </span>
</div>

<% sortable_fields.each do |sortable_field| %>
  <div class="input-group">
    <%= radio_button_tag :type, sortable_field.id,
          sortable_field.id.to_s == params[:type],
          onclick: ("addURL(#{sortable_field.id.to_s})") %>

    <span class="small">
      <%= sortable_field.name.titleize.gsub("Log", "").gsub("Children", "Children's") %>
    </span>
  </div>
<% end %>


<script>

  function addURL(type)
  {
    window.location.href='?type=' + type;
  }
</script>
