<div class='entry-content'>
  <h1>Dashboard Help Document</h1>
  <hr/>
</div>

<div class="printable-area">
  <div class="container-fluid">
    <h2 class="normal custom-h2">Adding new content to Featured Workshops</h2>
    <p class='lead'>
      To add new content in the Featured Workshops section (figure 1), go to the CMS
      Dashboard – Workshops – Add New (figure 2). Be sure to select the “featured” check box,
      found above the “Objective” field.
    </p>

    <div class="row">
      <div class="col-md-6">
        <h4 class="normal">figure 1</h4>
        <a href="/images/help/featured-workshop-dashboard.png" target="_blank">
          <img src="/images/help/featured-workshop-dashboard.png" class="img-responsive" ></img></a>
        <br/>
        <h4 class="normal">figure 2</h4>
        <a href="/images/help/adding-a-featured-workshop-cms.png" target="_blank">
          <img src="/images/help/adding-a-featured-workshop-cms.png" class="img-responsive"></img></a>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>

<hr />

<div class="printable-area">
  <div class="container-fluid">
    <h2 class="normal custom-h2">Editing content in Featured Workshops</h2>
    <p class='lead'>
      To edit information within this section, go to the CMS Dashboard – Workshops section and search
      for the item by name using the search field. Type the first word of the workshop name (Figure 1)
      then click on the pencil icon next to the workshop you’d like to edit. You will be redirected to
      the “Edit Workshop” page where you can make updates. (Figure 2)
      Save all changes by selecting the Save button at the bottom of the page. (Figure 3)
    </p>

    <div class="row">
      <div class="col-md-6">
        <h4 class="normal">figure 1</h4>
        <a href="/images/help/find-workshop-dashboard.png" target="_blank">
        <img src="/images/help/find-workshop-dashboard.png" class="img-responsive"></img></a>
        <br/>
        <h4 class="normal">figure 2</h4>
        <a href="/images/help/edit-a-featured-workshop-cms.png" target="_blank">
        <img src="/images/help/edit-a-featured-workshop-cms.png" class="img-responsive"></img></a>
        <br />
      </div>
      <div class="col-md-6"></div>
    </div>

     <div class="row">
       <div class="col-md-6">
         <h4 class="normal">figure 3</h4>
         <a href="/images/help/edit-workshop-button-save.png" target="_blank">
        <img src="/images/help/edit-workshop-button-save.png" class="img-responsive"></img></a>
      </div>
     </div>
  </div>
</div>

<hr />

<div class="printable-area">
  <div class="container-fluid">
    <br/><br/>
    <h2 class="normal custom-h2">Adding new content to Popular Resources</h2>
    <p class='lead'>
      To add new content in the Popular Resources section (figure 1), go to the CMS Dashboard – Resources – Add New (figure 2). Be sure to select a <b>User</b>, check <b>featured</b>, uncheck <b>Inactive</b> and then select a <b>windows type</b>.
      In the field labeled “Kind”, write in the one that best suits your post: <br /><br />

       Resource <br />
       Template <br />
       Scholarship <br />
       Toolkit <br />
       Form <br />
       Handout<br />

    </p>
    <div class="row">
      <div class="col-md-6">
        <h4 class="normal">figure 1</h4>
        <a href="/images/help/popular-resources-dashboard.png" target="_blank">
        <img src="/images/help/popular-resources-dashboard.png" class="img-responsive"></img></a>
        <br/>
        <h4 class="normal">figure 2</h4>
        <a href="/images/help/adding-a-popular-resource.png" target="_blank">
        <img src="/images/help/adding-a-popular-resource.png" class="img-responsive"></img></a>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>

<hr />

<div class="printable-area">
  <div class="container-fluid">
    <h2 class="normal custom-h2">Adding content to Latest News</h2>
    <p class='lead'>
      To add new content in the Latest News section (figure 1), go to the CMS Dashboard – Resource – Add New and add all new content.
      Make sure to select the “Featured” check box and write the word “Story” in the Kind field.
      Save all changes by selecting the Save button at the bottom of the page.
    </p>

    <br/><br/>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="/images/help/adding-a-latest-new-cms.png" target="_blank">
    <img src="/images/help/adding-a-latest-new-cms.png" class="img-responsive"></img></a>
  </div>
</div>

<hr />

<div class="printable-area">
  <div class="container-fluid">
    <h2 class="normal custom-h2">Adding Leader Spotlights to Latest News</h2>
    <p class='lead'>
      To add Leader Spotlights resource in the Latest News section (figure 1), go to the CMS Dashboard – Resources – Add New and add all new content.
      Make sure to select the “Featured” check box and write the word “LeaderSpotlight” in the Kind field, and remember to uncheck the "inactive" field (figure 2).
      Save all changes by selecting the Save button at the bottom of the page.
    </p>

    <br/><br/>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <h4 class="normal">figure 1</h4>
    <a href="/images/help/adding-leaderspotlight-as-latest-new-cms.png" target="_blank">
    <img src="/images/help/adding-leaderspotlight-as-latest-new-cms.png" class="img-responsive"></img></a>
  </div>
</div>

<br/>
<div class="row">
  <div class="col-md-6">
    <h4 class="normal">figure 2</h4>
    <a href="/images/help/adding-leaderspotlight-as-latest-new-cms-inactive-field.png" target="_blank">
    <img src="/images/help/adding-leaderspotlight-as-latest-new-cms-inactive-field.png" class="img-responsive"></img></a>
  </div>
</div>

<br/><br/>

<div class="printable-area">
  <div class="container-fluid">
    <p class='lead'>
      Then you should add a new "Workshop Resources" record to associate the Leader Spotlight to a workshop, go to the CMS Dashboard – Workshop Resource – Add New and add all new content, first find the workshop that you want to associate the leader spotlight using the workshop selector (start typing the name) and then find the already created leader spotlight resource using the "resource" selector (start typing the name), then click save.
    </p>

    <br/><br/>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4 class="normal">figure 3</h4>
    <a href="/images/help/adding-leaderspotlight-as-latest-new-cms-workshop-resource.png" target="_blank">
    <img src="/images/help/adding-leaderspotlight-as-latest-new-cms-workshop-resource.png" class="img-responsive"></img></a>
  </div>
</div>

<hr />

<div class="printable-area">
  <div class="container-fluid">
    <h2 class="normal custom-h2">Adding content to Populations we reach</h2>
    <p class='lead'>
      To add new content in the Populations We Reach section (figure 1), go to the CMS Dashboard – Resource – Add New and add all new content. Make sure to select the “Featured” check box and write the word “SectorImpact” in the Kind field.
      Save all changes by selecting the Save button at the bottom of the page.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="/images/help/adding-a-population-cms.png" target="_blank">
    <img src="/images/help/adding-a-population-cms.png" class="img-responsive"></img></a>
  </div>
</div>

<hr />

<div class="printable-area">
  <div class="container-fluid">
    <h2 class="normal custom-h2">Themes in healing.</h2>
    <p class='lead'>
      To add new content in the Themes in Healing section (figure 1), go to the CMS Dashboard – Resource – Add New and add all new content. Make sure to check the “Featured” check box and write the word “Theme” in the Kind field.
      Save all changes by selecting the Save button at the bottom of the page.
    </p>
  </div>
  </div>

<div class="row">
  <div class="col-md-6">
    <a href="/images/help/adding-a-theme-cms.png" target="_blank">
  <img src="/images/help/adding-a-theme-cms.png" class="img-responsive"></img></a>
  </div>
</div>

<hr />

<div class="printable-area">
  <div class="container-fluid">
    <h2 class="normal custom-h2">Editing content in Latest News, Populations we Reach and Themes in healing (Resources).</h2>
    <p class='lead'>
      To edit any information within this section, go to the CMS Dashboard – Resources section and search for the item by name using the search field. Type the first word of the workshop name (Figure 1) then click on the pencil icon next to the item you’d like to edit. You will be redirected to the “Edit Resource” page where you can make updates. (Figure 2)
      Save all changes by selecting the Save button at the bottom of the page. (Figure 3)
    </p>

    <div class="row">
      <div class="col-md-6">
        <h4 class="normal">figure 1</h4>
        <a href="/images/help/find-resource-dashboard.png" target="_blank">
        <img src="/images/help/find-resource-dashboard.png" class="img-responsive"></img></a>
        <br/>
        <h4 class="normal">figure 2</h4>
        <a href="/images/help/edit-a-resource-cms.png" target="_blank">
        <img src="/images/help/edit-a-resource-cms.png" class="img-responsive"></img></a>
      </div>
      <div class="col-md-4"></div>
    </div>

     <div class="row">
       <div class="col-md-6"><br />
         <h4 class="normal">figure 3</h4>
         <br />
        <a href="/images/help/edit-resource-button-save.png" target="_blank">
        <img src="/images/help/edit-resource-button-save.png" class="img-responsive"></img></a>
      </div>
     </div>

     <div class="row">
       <div class="col-md-12"><br />
         <%= render :template => '/impersonate_users/help' %>
       </div>
     </div>

  </div>
</div>
