<div class="row" style="padding-top: 0px;" >
  <div class="col-md-12">
    <div class="table-responsive custom-table-responsive recent-activity">

      <table class="table table-dashboard" style="border-bottom: solid #ccc 1px">
        <thead>
          <tr>
            <th>Date</th><th>Activity</th><th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <%= render 'recent_activity', recent_activity: @recent_activity %>
        </tbody>
      </table>
    </div>
  </div>
</div>
