<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-8 printable-full-width">
      <h2 class="normal" id="faq-title">Frequently Asked Questions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-8 printable-full-width">
      <% if @faqs.any? %>
        <% @faqs.each do |faq| %>
          <section>
            <div class="bold">
              <%= link_to faq.question, "##{faq.id}" %>
            </div>
            <br/>
          </section>
        <% end %>
        <section>
          <% @faqs.each do |faq| %>
            <div class="spacing-loose" id="<%= faq.id %>">
              <h3 class="normal">
                <%= faq.question %> <a href="#faq-title" class="back-top">[ Back to top ]</a>
              </h3>
              <div class="faq">
                <%= faq.answer.html_safe %>
              </div>
            </div>
          <% end %>
        </section>
      <% else %>
        <div>
          There are no FAQs.
        </div>
      <% end %>
    </div>
  </div>
</div>
