# AWS - Used for S3 storage
AWS_ACCESS_KEY_ID=SOME_ID
AWS_SECRET_ACCESS_KEY=SOME_KEY
AWS_REGION=us-east-1
AWS_S3_BUCKET=awbwassets_development

# Mailtrap
SMTP_USERNAME=SOME_USERNAME
SMTP_PASSWORD=SOME_PASSWORD
SMTP_SERVER=SOME_HOST
SMTP_PORT=2525

# If using database in docker compose
DATABASE_URL=trilogy://root@$(docker compose port database 3306)/
# DATABASE_URL=trilogy://root@localhost::3306/
