@import "neat-helpers";

// Neat Overrides
$column: modular-scale(3);
$gutter: modular-scale(1);
// $grid-columns: 12;
// $max-width: em(1088);

// $visual-grid: true;

// Neat Breakpoints
$small-screen: em(320);
$medium-screen: em(768);
$large-screen: em(1184);
$xlarge-screen: em(1441);
$xxlarge-screen: em(1921);

$small-screen-up: new-breakpoint(min-width $small-screen);
$small-screen-down: new-breakpoint(max-width $small-screen);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$medium-screen-down: new-breakpoint(max-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
$large-screen-down: new-breakpoint(max-width $large-screen);
$xlarge-screen-up: new-breakpoint(min-width $xlarge-screen);
$medium-height-down: new-breakpoint(max-height $medium-screen);

$mobileBtn-break: $medium-screen-up;

// --------------------------------

$modular-scale-ratio: 1.125;
$modular-scale-base: 18px;

$border-thickness: 2px;
$border--mobileBtn: 1px;
$border-radiusBase: 0px;

$height-navTop: modular-scale(6);

$transition-time: .125s;
$easing: ease-in;

$body-background-color: #f0efef;

$ff-one: 'Arial', sans-serif;