.curriculum-detail{
  margin-bottom: 30px;
  @include full_desktop{
    max-width: 1230px;
  }

  .wysiwyg-content,
  .time-frame-wrapper,
  .curriculum-detail__content-container{
    max-width: 850px;
  }

  .accordion-tabs-minimal .tab-content{
    @include phone{
      padding-left: 0;
      padding-right: 0;
    }
  }

  .curriculum-panel{
    float: none;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    box-shadow: none;
    hr{
      margin: 15px 0px;
    }
    section{
      margin-bottom: 50px;
      &:last-child{
        margin-bottom: 0;
      }
      .quote{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .quote-content{
      margin-bottom: 15px;
    }
    .workshop-variation{
      font-size: 1.3em;
      font-weight: bold;
    }
  }

  .quote{
    width: calc(100% / 2);
    @include phone{
      width: 100%;
    }
  }

  .quotes__inner-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .quote{
      padding: 0 15px;
    }
  }

  .pencil,
  .star{
    display: none;
  }
  .hero-workshop{
    position: relative;
    height: auto;
    max-width: none;
    background-color: #6e9ce8;
    padding-top: 177px;
    background-size: cover;
    background-position: center;
    margin-bottom: 27px;
    .inner-hero{
      position: relative;
      top: 0;
      background-color:rgba(255, 255, 255, 0.6);
      padding: 30px 30px;
      h2{
        font-weight: bold;
        font-size: 35px;
      }
    }
    .detail{
      line-height: 24px;
      font-size: 14px;
      font-weight: 500;
      color: #063b8d;
      span{
        border-right-color: #063b8d;
        padding-left: 9px;
        &:first-child{
          padding-left: 0px;
        }
      }
    }
  }
  .links{
    margin-bottom: 47px;
    @include phone{
      text-align: center;
      margin-bottom: 0;
    }
    >a,
    >.btn-printer,
    >.bookmark-inline{
      display: inline-block;
      vertical-align: middle;
      margin-right: 60px;
      margin-bottom: 0;
      @include phone{
        margin-right: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    >.btn-printer,
    >.bookmark-inline{
      @include phone{
        width: 49%;
      }
    }
    .btn{
      @include phone{
        width: 100%;
        margin-bottom: 30px;
        max-width: 90%;
      }
    }
    >a{
      margin-right: 75px;
      @include phone{
        margin-right: 0;
      }
    }
  }

  .accordion-tabs-minimal{
    .tab-link{
      background-color: transparent;
      @include phone{
        font-size: 18px;
        padding: 15px;
        border-bottom: 1px solid #dcdcdc;
        border-top: none;
      }
      &.is-active{
        border-bottom-color: #f0efef;
        @include phone{
          border-bottom-color: #dcdcdc;
        }
      }
    }
  }

  .curriculum-title{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.2px;
    color: #4a4a4a;
  }

  .tab-content{
    h3{
      margin-top: 0;
    }
    hr{
      margin: 10px 0;
    }
    
    .single-workshop-detail{
      margin-bottom: 50px;
      .wysiwyg-content__inner-wrapper{
        overflow: auto;
        img{
          // max-width: 100%;
          // height: auto;
          // max-height: 187px;
          // margin-right: 15px; 
          &:last-child{
            margin-right: 0px;
          }
        }
        .small{
          font-size: 20px;
          margin-top: 0px;
          font-weight: 300;
        }
      }
      @include phone_tablet{
        margin-bottom: 30px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    .time-frame-wrapper{
      display: flex;
      @include phone{
        flex-wrap: wrap;
      }
      .curriculum-title{
        margin-bottom: 10px;
      }
    }
    .single-time-frame{
      border-right: solid 1px #d4d4d4;
      border-top: solid 1px #d4d4d4;
      text-align: center;
      display: inline-block;
      width: 16%;
      padding: 15px 0px;
      @include phone{
        width: 100%;
        border-left: solid 1px #d4d4d4;
      }

      &:last-child{
        @include full_desktop{
          border-right: none;
        }
        @include tablet{
          border-right: none;
        }
        @include phone{
          border-bottom: solid 1px #d4d4d4;
        }
      }
      .normal,span{
        font-family: Roboto;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.54;
        letter-spacing: 0.3px;
        color: #58595a;
        margin-bottom: 0px;
      }
      span{
        font-size: 20px;
        margin-top: 0px;
        font-weight: 300;
      }
    }
    .inner-workshop-wrapper{
      display: flex;
      border-top: solid 1px #d4d4d4;
      margin-top: 10px;
      @include phone{
        flex-direction: column-reverse; 
      }
    }
    .age-range-wrp{
      border-right: solid 1px #d4d4d4;
      display: inline-block;
      width: 12%;
      max-width: 100px;
      @include phone{
        width: 100%;
        border-right: none;
      }
      hr{
        display: none;
        @include phone{
          display: block; 
        }
      }
    }
    .objetive-wrp{
      display: inline-block;
      padding-left: 30px;
      max-width: 505px;
      width: 100%;
      @include phone{
        padding-left: 0px;
      }
      &.objetive-wrp--age-range-blank{
        padding-left: 0;
      }
    }

    .age-range-wrp,
    .objetive-wrp{
      padding-top: 10px;
    }
  }

  @media print {
    .links{
      display: none;
    }
    .hero-workshop{
      padding-top: 0;
      margin-bottom: 0;
      .inner-hero{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 10px;
      }
      .detail{
        margin-bottom: 0;
      }
    }
    .accordion-tabs-minimal .tab-link{
      display: none;
    }

    .quotes {
      display: none;
    }

    .leader-spotlights {
      display: none;
    }

    .workshop-variations {
      display: none;
    }
}

}


