.sessions.new {
 #main{
   height: calc(100vh - 270px);
 }
 #new_user {
  input[type=checkbox] + label{
      height: auto;
    }
  } 
}

.input-group-addon a {
  text-decoration: none;
  color: inherit;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  padding-right: 40px; /* Space for the eye icon */
}

.password-container .toggle-password {
  position: absolute;
  top: 72%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}