.workshop-logs{
  .windows-type{
    .btn{
      margin-bottom: 0;
      @media (max-width: 1260px){
        margin-bottom: 10px;
      }
      @include phone{
        width: 100%;
        white-space: normal;
        height: auto;
        line-height: 1.2;
        padding: 10px 15px;
      }
    }
  }
  label[for="agency"]{
    margin-bottom: 18px;
  }

  .ethnicity-wrapper{
    .form-group{
      width: calc(50% - 15px);
      float: left;
      &:nth-child(odd){
        margin-right: 30px;
      }
    }
  }

  .submit-row{
    &.btn-container{
      .btn{
        @media (max-width: 350px){
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }
  
}

.js-workshop-logs-button-wrapper {
  margin-bottom: 20px;
  @include phone {
    float: none;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .btn {
    width: 100%;
    max-width: 500px;
  }
}