<div class="row">
  <div class="col-md-12">
    <h2>Edit <%%= @<%= singular_table_name %>.class.model_name.human %></h2>
    <%%= render "form", locals: { <%= singular_table_name %>: @<%= singular_table_name %> } %>
  </div>
</div>
