.no-margin{
  margin: 0;
}
.right {
  float: right;
}
.u-textCenter {
  text-align: center;
}
.u-textCenterLeft {
  text-align: center;
}
.inline-block {
  display: inline-block;
  &.smaller {
    width: 65%;
    margin: 0 auto;
    position: relative;
    min-width: 200px;
    font-size: 18px;
  }
}
.inline {
  display: inline;
}
.left {
  float: left;
}
.fixed {
  position: fixed;
}
.align-top {
  vertical-align: top;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.loose-left {
 padding-left: 15%;
}
.half {
  width: 50%;
}
.less-line-height {
  line-height: 24px;
}
.no-padding-right {
  padding-right: 0;
}
.block {
  display: block;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.slight-margin-left {
  margin-left: 5%;
}

input[type=text].search {
  width: 90%;
}

.search-filters {
  padding-top: 90px;
}

.four-btn-row{
  max-width: 800px;
  .btn-group{
    display: block;
    width: auto;
    margin-right: 8px;
    margin-bottom: 10px;
    float: left;
    @media (max-width: 405px){
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      float: none;
    }
    .btn{
      @media (max-width: 405px){
        width: 100%;
        float: none;
      }
    }
  }
}

.entry-content{
  margin-bottom: 25px;
  h2{
    margin-bottom: 10px;
  }
  p{
    letter-spacing: 0.5px;
    color: #58595a;
    line-height: 1.7;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.search-filters {
  padding: 0;
  b {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #4a4a4a;
   }
   .input-group {
    display: inline-block;
    margin-bottom: 10px;
   }
   .sortable-label{
     width: 75px;
   }
   .sortable-group{
     width: calc(100% - 75px);
      .input-group{
       &:last-child{
        margin-right: 0;
      }
     }
    }
    .sortable-label,
    .sortable-group{
     float: left;
    }

  }

.mt-3 {
  margin-top: 16px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 16px;
}
.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
