@media screen{
  .header-printable{
    display: none;
  }
}

@media print{
  .content .content-area.printable-area {
    margin-left: 0 !important;
  }
  .header-printable{
    visibility: visible;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    img{
      width: 350px;
    }
  }

  .printable-full-width {
    width: 100% !important;
  }
  #slider1 .overview li {
    display: inline-block;
    margin-right: 15px;
    float: none !important;
  }

  #slider1 .viewport {
    height: auto !important;
  }

  #slider1 .buttons {
    display: none !important;
  }

  .resource-img,
  .resource-title {
    width: 100% !important;
    float: none !important;
  }

  ul.overview {
    width: 100% !important;
  }

  .content .content-area{
    margin-left: 0;
  }

  .dashboard-area {
    width: 100%;
  }
  .dashboard-area .printable-area {
    position: static !important;
  }
}
