/*
 * We use the bootstrap break points
 */

$phone-width: $screen-xs-min;
$phone-max-width: $screen-xs-max;
$tablet-width: $screen-sm-min;
$desktop-medium-width: $screen-md-min;
$desktop-width: $screen-lg-min;

@mixin phone_landscape {
  @media (max-width: $phone-max-width) and (orientation: landscape) {
    @content;
  }
}


@mixin phone {
  @media (max-width: $phone-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) and (max-width: $desktop-medium-width - 1px ) {
    @content;
  }
}

@mixin phone_tablet {
  @media (max-width: $desktop-medium-width - 1px) {
    @content;
  }
}


@mixin medium_desktop {
  @media (min-width: $desktop-medium-width) and (max-width: $desktop-width - 1px ) {
    @content;
  }
}

@mixin large_desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin full_desktop {
  @media (min-width: #{$desktop-medium-width}) {
    @content;
  }
}