.btn--disabled{
  cursor: not-allowed;
  border-color: $color-gray;
  color: $color-gray;
  &:hover{
    border-color: $color-gray;
    color: $color-gray;
    background-color: transparent;
  }
}

// override
form.button_to {
  display: inline-block;
}
#{$all-button-inputs},
button,
.btn {
  @include appearance(none);
  // @include transition(background-color $transition-time $easing);
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: 0;
  border: 4px solid black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'telefon';
  font-size: $fontSize--btn;
  font-weight: bold;
  text-transform: uppercase;
  // line-height: $height--btn;
  padding: 0 $spacing--btn;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  height: $height--btn;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    border-color: $color-navPurple;
    color: $color-navPurple;
    a {
      color: $color-navPurple;
    }
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &.btn--disabled{
    @extend .btn--disabled;
  }
}

.btn--center,
button.btn--center,
input[type="submit"].btn--center,
.btn.btn--center {
  @extend .u-textCenter;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn--big,
button.btn--big,
input[type="submit"].btn--big,
.btn.btn--big {
  font-size: $fontSize--btnBig;
  height: $height--btnBig;
  line-height: $height--btnBig;
  padding: 0 $spacing--btnBig;
}

.btn--small,
button.btn-small,
input[type="submit"].btn-small,
.btn.btn-small,
.btn.btn-primary {
  font-size: 13px;
  padding: 0 $spacing--btnSmall;
  line-height: 28px;
  height: 32px;
  border: 2px solid #063b8d;
  color: #063b8d;
  font-family: Lato;
  font-weight: bold;
  &:hover,
  &:focus,
  &.active{
    background-color: #063b8d;
    border-color: #063b8d;
    color: white;
    a {
      color: $color-navPurple;
    }
  }
  &.btn-filled{
    background-color: #063b8d;
    border-color: #063b8d;
    color: white;
    a {
      color: $color-navPurple;
    }
  }
  &.btn--disabled{
    @extend .btn--disabled;
  }
}

.btn-blue {
  font-family: Lato;
  padding: 0 15px;
  font-size: 10px;
  color: #063b8d;
}

.outline {
  color: #063b8d;
  border: solid 2px #063b8d;
  font-size: 2em;
}

.round-right {
  border-radius: 0px 8px 8px 0px;
}

input.search-btn {
  border: none;
  position: relative;
  top: -2px;
}

.btn.btn-submit, a.btn.btn-submit {
  min-width: 140px;
  text-align: center;
}

// a.btn.btn-small {
//   color: #063b8d;
//   min-width: 150px;
//   text-align: center;
// }

.btn.btn--small.btnSubmit {
  max-width: 138px;
  a {
    position: relative;
    right: 8px;
  }
}
input[type="submit"] {
  min-width: 80px;
}
a.btn.btn-submit.cancel-btn {
  position: relative;
  padding-top: 2px;
}

.btn.btn--small.btnSubmit  {
  &:hover {
    a {
      color: $color-navPurple;
    }
  }
}
.btn.btn--small.btnSubmit a {
  &:hover {
    color: $color-navPurple;
  }
}
.right.btn.user-edit-btn a {
  color: black;
  position: relative;
  top: 8px;
  &:hover {
    color: $color-navPurple;
  }
}
.right.btn.user-edit-btn {
  &:hover {
    a {
      color: $color-navPurple;
    }
  }
}

.btn-active {
  background-color: #063b8d;
  border-color: #063b8d;
  color: #fff !important;
}

.btn-sectors {
  width: 163px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 12px;
  margin-right: 5px;
}

.btn-sortable {
  width: 200px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 12px;
  margin-right: 5px;
}

.btn{
  &.btn-primary{
    font-size: 15px;
    height: 39px;
    line-height: 35px;
    font-weight: bold;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    &.btn--small{
      height: 34px;
      line-height: 30px;
    }
  }
  &.btn-fs-medium{
    font-weight: 500;
  }
}

.btn-group{
  .btn.btn-primary{
    border: solid 1px #063b8d;
    min-width: 163px;
    height: 39px;
    line-height: 35px;
    margin: 0;
    padding: 0 10px;
  }
}

.btns-aligned .btn {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.content a.btn-underline,
.btn-underline,
.content a.btn-underline.add_fields{
  text-decoration: underline;
  font-size: 13px;
}


.pika-single{
  .pika-button{
    text-align: center;
  }
}


.btn-bookmark{
  position: relative;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #063b8d;
  font-size: 12px;
  cursor: pointer;
  img{
    width: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }
  label{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    margin-bottom: 0;
  }
  div{
    line-height: 1;
  }

}

.btn-bookmark__unmark-layer{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.btn-printer{
  position: relative;
  font-family: Lato;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #063b8d;
  img{
    width: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
  }
  a{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}


#print-button,
.print-button {
  @media print {
    display: none;
  }
}
