// Colors (private vars)
// --------------------------------------------------

// Blues
$color-blue: rgba(46, 113, 182, 1);
$color-blueLight: #0056DC;
$color-blueDarkerLight: rgba(0, 112, 186, 1);
$color-headerBlue: #063b8d;
$color-navBlue: rgba(99, 145, 228, 0.9);

// Purples

$color-purple: #FF0000;
$color-purpleLight: royalblue;
$color-purpleDarkerLight: #0000FF;
$color-headerPurple: midnightblue;
$color-navPurple: #333333;

$purple: #7868F4;


// Grays
$color-gray: rgb(128,128,128);
$color-grayDarkest: rgb(25,25,25);
$color-grayLighter: rgba(176, 176, 176, 1);
$color-circleBlue: rgba(128, 168, 195, 1);

// Gold
$color-gold: rgba(110, 60, 0, 1);

// Reusable Tints and Shades
$color-black: rgb(0, 0, 0);
$color-black90: shade($color-grayDarkest, 90%);
$color-black80: shade($color-grayDarkest, 80%);
$color-black70: shade($color-grayDarkest, 70%);
$color-black60: shade($color-grayDarkest, 60%);
$color-black50: shade($color-grayDarkest, 50%);
$color-black40: shade($color-grayDarkest, 40%);
$color-black30: shade($color-grayDarkest, 30%);
$color-black20: shade($color-grayDarkest, 20%);
$color-black10: shade($color-grayDarkest, 10%);
$color-white: rgb(255, 255, 255);
$color-white90: tint($color-gray, 90%);
$color-white80: tint($color-gray, 80%);
$color-white70: tint($color-gray, 70%);
$color-white60: tint($color-gray, 60%);
$color-white50: tint($color-gray, 50%);
$color-white40: tint($color-gray, 40%);
$color-white30: tint($color-gray, 30%);
$color-white20: tint($color-gray, 20%);
$color-white10: tint($color-gray, 10%);


// Color applications
// --------------------------------------------------
$color--body: $color-black90;
$color--header: $color-black90;
$color--banner: $color-blueLight;


$color--btnPrimary: $color-grayDarkest;
$color--btnTextPrimary: $color-white50;
$color--btnBorderPrimary: $color-white;
$color--btnSecondary: $color-white;
$color--btnTextSecondary: $color-white;
$color--btnBorderSecondary: $color-white;
$color--btnDisabled: $color-white90;
$color--btnBorderDisabled: $color-gray;

$color--borderBase: #FFFFFF;
$color--borderFocus: $color-white90;

$color--field: $color-white;
$color--fieldFocus: $color-white;
$color--radioBg: $color-white;

$color-red: rgba(235, 15, 15, .8)
