input,
label,
select {
  font-family: $fontFamily--body;
  font-size: 1.1em;
  font-weight: normal;
}

input,
select {
  display: inline-block;
  border-radius: $border-radiusBase;
}

label, .label-select {
  @extend .font-bodyN6;
  color: #4a4a4a;
  display: block;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.3px;
}

label.required::after {
  content: "*";
}

label abbr {
  display: none;
}

label{
  margin-bottom: 10px;
  font-family: $fontFamily--labels;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.2px;
  // font-weight: 500;
}

#{$all-text-inputs},
select,
select[multiple=multiple],
textarea {
  @include transition(background-color $transition-time $easing);
  border-radius: $border-radiusBase;
  height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

textarea {
  height: $height--textArea;
}

label.bold {
  padding-top: $spacing-tight;
}

.checkbox {
  max-width: 155px;
  margin: $spacing-tightest 0;

  span.smaller.bold {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    padding: 3px;
  }
}

.hidden {
  display: none;
}

input[type='radio'] {
  margin-bottom: $spacing-tight ;
}

input[type='checkbox'] {
  vertical-align: top;
}

input[type='text'] {
  height: 40px;
  border-radius: $border-radiusBase;
}

textarea.form-control{
  border-radius: $border-radiusBase;
}

.form-control-custom {
  @extend .form-control;
  border-radius: $border-radiusBase;
  height: 40px;
  font-size: 12px !important;
}

.error-select-custom {
  border: 1px solid rgba(235, 15, 15, 0.8);
  border-radius: 1px;
  margin-bottom: 2px;
  padding: 2px;
    max-width: 480px;
}
select.form-control-custom{
  @include appearance(none);
  border-radius: 0;
  background-image: image-url('select-arrows.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px auto;
}
.select2-container .select2-selection--single {
  @include appearance(none);
  border-radius: 0 !important;
  background-image: image-url('select-arrows.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px auto;
  font-size: 12px !important;
  height: 40px;
  padding: 6px 12px;
}

.select2-selection__arrow b{
  border-color: none !important;
  border-style: none !important;
}

input[type=checkbox] + label{
  height: 100px;
  width: 1000px;
  display: block;
  border-radius: 50%;
}

.datepicker-group{
  position: relative;
  .date-picker + .fa-calendar{
    color: rgba(99, 145, 228, 0.9);
  }
  .fa-calendar{
    position: absolute;
    top: 50%;
    height: 16px;
    width: 16px;
    @include transform(translateY(-50%) translateX(-12px));
  }
}

.form-control-workshop{
  font-size: 12px !important;
}

.form-group{
  margin-bottom: 30px;
  &.error-custom{
    padding: 10px;
  }
  .form-item-dropdown:first-child {
    margin-bottom: 20px;
  }
}
.form-control-lg{
  max-width: 700px !important;
}

.label-plus-comment{
  margin-bottom: 10px;
  label{
    margin-bottom: 5px;
  }
  .custom-smaller{
    margin-bottom: 0;
    font-size: 13px;
  }
}

.custom-checkbox-icon,
.custom-radio-icon{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  display: inline-block;
}

.custom-checkbox-icon{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #d4d4d4;
  background-size: 13px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-radio-icon{
  border: solid 1px #a0a0a0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  border-radius: 50%;
  position: relative;
  &:after{
    content: '';
    width: 12px;
    height: 12px;
    background-color: #052f71;
    border-radius: 50%;
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

.checkbox-form-group{
  display: inline-block;
  width: 20%;
  vertical-align: top;
  @include phone_tablet{
    width: 100%;
    display: block;
  }
  &.error-custom{
    padding: 10px;
  }
}

.checkbox-group-custom{
   width: 40% !important;
}

.hidden-form-group{
  display: none;
}

.custom-appearance-field{
  margin-bottom: 10px;
  @include medium_desktop{
    padding-left: 0;
  }
  input[type=checkbox] + label{
    height: auto;
    margin-bottom: 0;
  }

  input{
    display: none;
    &:checked + label{
      .custom-checkbox-icon{
        background-image: image-url('input-checked.png');
      }
      .custom-radio-icon{
        &:after{
          opacity: 1;
        }
      }
    }
  }

  label{
    height: auto;
    margin-bottom: 0;
  }
  span{
    font-size: 13px;
    vertical-align: middle;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.8;
    &.custom-checkbox-icon{
      margin-right: 12px;
    }
  }
}

input[type="file"] {
  display: none;
}


.input-upload-description{
  margin-bottom: 15px;
}

.image-upload-field{
  margin-bottom: 30px;
  .form-group{
    margin-bottom: 10px;
  }
  .field-custom-label{
    margin-left: 12px;
  }
  .input-upload-description{
    label{
      text-transform: capitalize;
    }
    span{
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.5px;
      color: #464748;
    }
  }
}

.radio-inline{
  &,
  & + .radio-inline{
    @include phone{
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
      width: 49%;
      text-align: center;
    }
  }
}

#select_workshop .select2-container--default {
  max-width: 480px;
  width: 100%;
}

#service_population_s_ {
    .radio-inline{
      &,
      & + .radio-inline{
        width: 100%;
        text-align: left;
        margin-left: 0;
        padding-left: 0;
      }
      .custom-radio-icon {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
}

.bookmark-inline{
  display: inline-block;
  #addBookmark{
    display: none;
  }
}
