a,
.btn a, a.btn-small, .links a{
  color: $color--btnTextPrimary;
}
 a.btn.btn-submit {
  color: black;
 }
a.cancel-btn {
  line-height: 38px;
}


// Anchor
:target:before {
  content:"";
  display:block;
  height: 96px; /* fixed header height*/
  margin: -96px 0 0; /* negative fixed header height */
  @include phone{
    height: 70px; /* fixed header height*/
    margin: -70px 0 0; /* negative fixed header height */
  }
}
