// Line heights
// --------------------------------------------------
$lineHeight-tightest: 1;
$lineHeight-tighter: 1.1;
$lineHeight-tight: 1.2;
$lineHeight-tightish: 1.3;
$lineHeight-base: 1.5;
$lineHeight-loose: 1.8;
// Line height Applications
// --------------------------------------------------
$lineHeight--body: $lineHeight-base;
$lineHeight--h1: $lineHeight-tight;
$lineHeight--h2: $lineHeight-tight;
$lineHeight--h3: $lineHeight-tight;
$lineHeight--h4: $lineHeight-tight;
$lineHeight--h5: $lineHeight-tight;
$lineHeight--navTop: $height-navTop;
$lineHeight--radio: modular-scale(3);

// Spacing Units (private vars)
// --------------------------------------------------
$spacing-normal: $lineHeight-base * modular-scale(0);
$spacing-tightest: $spacing-normal / 8;
$spacing-tighter: $spacing-normal / 5;
$spacing-tight: $spacing-normal / 3;
$spacing-tightish: $spacing-normal / 2;
$spacing-loosish: $spacing-normal * 2;
$spacing-loose: $spacing-normal * 3;
$spacing-looser: $spacing-normal * 5;
$spacing-loosest: $spacing-normal * 8;
// Spacing Applications
// --------------------------------------------------
$spacing--base: $spacing-normal;
$spacing--small: $spacing-tight;
$spacing--large: $spacing-loosish;
$spacing--hr: $spacing-normal;

$spacing--outerContainer: $spacing-loose;
$spacing--row: $spacing-normal;
$spacing--paddedSection: $spacing-normal;

$spacing--h1: $spacing-normal + 10px;
$spacing--h2: $spacing-normal + 18px;
$spacing--h3: $spacing-normal + 10px;
$spacing--h4: $spacing-normal;
$spacing--h5: $spacing-normal - 5px;
$spacing--h6: $spacing-normal - 1px;
$spacing--body: $spacing-normal;

$spacing--label: 15px;
$spacing--input: $spacing-normal + 4px;
$spacing--fieldset: $spacing-loosish;
$spacing--radioLabelPaddingLeft: modular-scale(4);
$spacing--radioLabelMarginRight: $spacing-normal;
$spacing--radioMarginRight: $spacing-tightish;

$spacing--btn: $spacing-tightish;
$spacing--btnBig: $spacing-loose;
$spacing--btnSmall: $spacing-normal;

$spacing--navTop: $spacing-normal;
$spacing--navTopLinks: $spacing-loosish;

$spacing--ctaTop: $spacing-loose;
$spacing--ctaSides: $spacing-normal;
$spacing--flash: $spacing-normal;

$spacing--cardMarginBot: $spacing-loosish;
$spacing--cardPaddingBot: $spacing-normal;
$spacing--cardContainerPadding: $spacing-tightish;

// Heights
// --------------------------------------------------
$height-short: $lineHeight-base * modular-scale(0);
$height-normal: $height-short * 2;
$height-tall: $height-short * 3;
$height-taller: $height-short* 5;
$height-tallest: $height-short * 8;
// Height Applications
// --------------------------------------------------
$height--btn: $height-normal;
$height--btnBig: $height-tall;
$height--field: $height-normal;
$height--textArea: $height-taller;
$height--navTop: $height-normal;
$height--flash: $height-normal;
$height--radio: modular-scale(3);
$height--cardImage: $spacing-normal * 6;
$height--statusBar: $spacing-tight;

$height--mobileBtn: $height--navTop * (2/3);
$spacing--mobileBtn: ($height--navTop - $height--mobileBtn) / 2 - $border--mobileBtn;
.spacing-loose {
  margin: $spacing--paddedSection 0;
}
.categories-fields {
  max-height: 150px;
  overflow: scroll;
  margin: 6px 0;
  min-width: 180px;
  border: 1px solid rgba(2, 2, 2, .01);
  border-radius: 4px;
  padding: 6px 0;
  @include tablet{
    width: 33.33%;
  }
}
.slight-margin-left {
  margin-left: .25em;
}
