<% flash.each do |key, value| %>
  <% css_class = case key.to_s
                 when 'notice' then 'notice'
                 when 'alert' then 'alert'
                 when 'error' then 'error'
                 else key # Use the key itself if not one of the specific types
                 end %>
  <p class='<%= css_class %>'><%= value %></p>
<% end %> 