<div class="categories-fields-wrapper">
  <div class="categories-header">
    <label>Service Population</label>
    <%= image_tag("collapse-arrow.png", class:"arrow-down") %>
  </div>
  <div class="categories-fields">
    <% sectors.each do |sector| %>
      <div class="input-group">
        <%= f.check_box sector.name.titleize, checked: @params ? checked?(@params[sector.name]) : false %>
        <span class="small">
          <%= sector.name %>
        </span>
      </div>
    <% end %>
  </div>
</div> 