<br>
<h2 class="normal"><%= @workshop.log_form_header %></h2>

<%= render 'form', workshop: @workshop, agencies: @agencies, log_fields: @workshop.log_fields, disabled: true, windows_type: @windows_type %> 