.flex-boxes {
  font-family: $helvetica;
  $base-border-radius: 3px !default;
  $light-gray: #DDD !default;

  $flex-box-gutter: 0.2em;
  $flex-box-width: 18em;

  @include clearfix;
  @include display(flex);
  @include justify-content(left);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  clear: both;
  text-align: left;
  max-height: 592px;

  &.resources {
    min-width: 40em;
    @include phone{
      min-width: 0;
      width: 100%;
    }
  }

  &.no-scroll {
    overflow: initial;
    max-height: initial;
  }

  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    display: block;
    margin: $flex-box-gutter;
    padding: $spacing--paddedSection;
    text-decoration: none;
    background: #EEEEEE;
    a {
      text-decoration: none;
      color: midnightblue;
      font-size: 150%;
    }
    img {
      width: 138px;
      height: 106px;
      float: left;
      padding-right: $spacing-tight;
    }
    .flex-title, .flex-title.inline-block {
      color: $color-black50;
      font-size: $fontSize-base;
      margin-bottom: 0.5em;
      padding-left: 0px;
      margin-left: 0;
      font-weight: normal;
      margin-top: 0;
    }
    p, .flex-subtitle {
      color: $color-black50;
      line-height: 1.5em;
      margin: auto;
      font-size: $fontSize-small;
      overflow: hidden;
      padding-left: 0;

    }
    .flex-subtitle {
      margin-bottom: 8px;
    }
    .new {
      background-color: $color-purpleDarkerLight;
      text-transform: uppercase;
      padding: $spacing-tightest;
      color: $color-white80;
    }
    p.workshop-description {
      margin-bottom: 22px;
    }
  }
  .flex-box-big {
    @include flex(1 1 40em);
    min-width: 292px;
    margin-left: 0;
    paddingt: 10px;
    // max-width: 980px;
  }
  span {
    padding-right: $spacing-tight;
    margin-right: $spacing-tight;
    padding: 5px;
    &.featured {
      background: black;
      color: $color-white50;
      text-align: center;
      position: relative;
      top: 16px;
      border: none;
      text-transform: uppercase;
      padding-left: 6px;
    }
    &.no-border {
      border-right: none;
    }
  }
  .card {
    max-width: 308px;
    position: relative;
    left: -18px;
    margin-left: 0;
    overflow: hidden;
    margin: 0 auto;
    &.circular-border {

    }
    img, .img {
      float: initial;
      width: 100%;
      min-height: 190px;
      margin: 0 auto;
      padding-right: initial;
    }
    .flex-title-container {
      background: $color-black90;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      position: relative;
      top: -66px;
      height: 66px;
      padding: 3px;
      max-width: 260px;
      .flex-title, .flex-subtitle {
        color: $color-white90;
        text-align: left;
        font-weight: bold;
      }
    }
    p {
      position: relative;
      top: -48px;
    }
    span.no-border {
      padding-left: 6px;
    }
    &.circular-border {
      margin: 0 auto;
      &.widest {
        max-width: 300px;
        .flex-title-container {
          height: 200px;
          width: 200px;
        }
        .flex-title {
          font-size: 1.25em;
          max-width: 190px;
        }
      }
      margin: 0 auto;
      img, span.featured, span.no-border, a.read-more {
        display: none;
      }
      .flex-title-container, p {
        position: initial;
        display: block;
        max-width: initial;
      }
      .flex-title-container {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        background: image-url('theme_default.png');
        &.reports {
          background: image-url('footer_texture');
          font-size: 20px;
          .flex-title {
            top: 48px;
          }
        }
        margin: 0 auto;
        background-size: contain;
        font-weight: bold;
        font-family: 'telefon'
      }
      .flex-title {
        text-align: center;
        position: relative;
        top: 62px;
      }
      p {
        text-align: center;
      }
    }
  }
}

.flex-subtitle.detail {
  margin: $spacing-tight 0;
  span {
    padding-right: $spacing-tight;
    border-right: 1px solid $color-black;
    &.no-border {
      border-right: none;
    }
  }
}

.flex-title.less-width {
  max-width: 10em;
  padding-top: 1.5em;
  margin-top: 0;
  line-height: 1.3;
}

a.read-more {
  text-decoration: underline;
}

.flex-boxes .card p a {
    color: black;
}

@include phone {
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
}