.panel {
  display: block;
  @include media($large-screen-up) {
    float: right;
    top: 230px;
    right: 0;
    left: 230px;
    width: 12%;
    min-width: 202px;
    height: 0px;
    position: relative;
  }

  .scroll {
    max-height: 280px;
    overflow: scroll;
  }

  img {
    max-height: 160px;
  }
}
