.content-img-popular{
  padding-right: 0px !important;
  padding-left: 5px !important;
}

.popular-img {
  width: 102px;
  height: 102px;
  @media (max-width: $screen-xs-max) {
    width: 102px;
    height: 102px;
  }
}

.population-img {
  width: 100%;
  height: 140px;
}
.population-workshop-box{
  background-color: #ffffff;
}

.container-fluid-custom{
  margin-top: 20px;
  background-color: #f0efef;
  padding-bottom: 10px;
}

.col-xs-6-custom{
  padding: 6px;
  @media (min-width: 992px) and (max-width: 1216px) {
    width: 100%;
    padding-right: 15px; 
  }
  .h3-footer-custom {
    font-size: 14px;
      text-align: center;
  }
  h3 {
   padding: 0px;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.38;
   letter-spacing: 0.3px;
   color: #4a4a4a;
   margin-top: 5px;
   @media (max-width: $screen-xs-max) {
     font-size: 14px;
   }
  }
  small.workshop-thanksto{
    display: block;
    margin-bottom: 15px;
  }
  p {
    color: #464748;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.71;

    @media (max-width: $screen-xs-max) {
      font-size: 12px;
    }

    span{ color: #464748;}
 }
}
.workshop-box-desktop {
  @extend .workshop-box;
  border: 0px !important;
  box-shadow: none !important;
}

.latests-news-box{
  p{
    span{
      display: block;
      height: calc(14px * 1.71 * 2);
      padding-left: 0 !important;
      @media (max-width: $screen-xs-max) {
        height: calc(1em * 1.71 * 2);
        letter-spacing: 0;
      }
    }
  }
}
.layer {
    width: 13px;
    height: 45px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.29;
    color: #6e9ce8;
    display:table-cell;
    padding-top: 30px;
    padding-bottom: 20%;
    text-align: center;
    height: 100%;
    position:relative;

}
.img-list{
  @media (max-width: $screen-xs-max) {
   height: 100px;
   width: 100%;
   border: 1px solid #FF0040;
  }
}
.row-custom{
  margin-left: -6px;
  margin-right: -6px;
}

.workshop-box{
  border: solid 1px #d4d4d4;
  margin-bottom: 6px;
  padding: 0px 0px 7px;
  width: auto;
  box-shadow: 0px 0px 4px #ccc;

  .content-img{
    figure.portrait-img{
      margin-bottom: 0;
    }
  }
  .inner-content{
    padding-left: 5px;
    padding-right: 5px;
    h3{
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      margin-bottom: 11px;
    }
  }
  .col{
    position: absolute;
    z-index: 1;
    display:block;
    top: 15%;
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #fff;
  }
 .col-custom{
   // padding-top:20%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  h3 {
    padding: 5px;
    color: #4a4a4a;
  }

  img{
    @media (max-width: $screen-xs-max) {
      height: 100px;
      width: 100%;
    }

  }

  span{
    padding-left: 5px;
    color: #666;
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
      padding-right: 5px;
      &:last-child{
        padding-left: 5px;
        padding-right: 0;
      }
    }
  }

  .effect-img{
    background-color: rgba(6, 59, 141, 0.6);
  }
}

h2{
  @media (max-width: $screen-xs-max) {
    color: #133e70;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.custom-h2{
    margin-bottom: 20px !important;
}

.list-group-item {
  .fixed-width {
    width: auto;
    @media (min-width: 992px) and (max-width: 1216px) {
      width: 100%;
      figure {
        width: 100%;
        height: auto; 
      }
    }
    @media (max-width: 427px) {
      width: 100%;
    }
  }
}

.list-group-item-custom{

  .workshop-box {
    border: 0;
    box-shadow: none;
    margin: 0;
    a {
      display: inline-block;
      position: relative;
      .effect-img {
        width: 100%;
        max-width: none;
        background-color: transparent;
      }
      .overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(6, 59, 141, 0.4);
      }
    }
  }
}

h3{
  @media (max-width: $screen-xs-max) {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.47;
    letter-spacing: 0.2px;
    color: #4a4a4a;
   }
}

b{
  @media (max-width: $screen-xs-max) {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.47;
    letter-spacing: 0.2px;
    color: #4a4a4a;
  }
}

.content-img{
  width:100%;
}

.img-featured{
  width: 100%;
  height:102px;
}

.table-dashboard > tbody > tr td {
  background-color: white;
  border: 0px !important;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  padding: 11px 8px;
  color: #464748;
}

.table-dashboard > thead > tr > th,
.table-dashboard > tbody > tr > td{
  &:first-child{
    padding-left: 22px;
  }
  &:last-child{
    padding-right: 22px;
  }
}

.table-dashboard > thead {
  border-bottom: solid 1px #ccc !important;

}

.recent-activity {
  font-family: Roboto;
  background-color: white;
}

.recent-activity a {
  text-decoration: underline;
}


.table-dashboard > thead > tr > th {
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 8px;
  line-height: 1.38;
  letter-spacing: 0.3px;
  color: #4a4a4a;
  border: 0px;
  text-transform: uppercase;
}

.custom-table-responsive {
  border: solid 1px #d4d4d4;
  padding-bottom: 10px;
}

td.Incomplete-Incomplet {
  font-size: 15px;
  line-height: 2.47;
  letter-spacing: 0.5px;
  color: #ef0007 !important;
}

.search-field-row{
  position: relative;
  // padding-right: 150px;
  @include flexbox();
  input[type=text].search{
    width: 100%;
    max-width: none;
    border: none;
    padding-left: 10px;
    &::-ms-clear {
      display: none;
    }
  }
  .btn-search-wrapper{
    display: block;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    width: 35px;
    height: 100%;
    input.search-btn{
      top: auto;
      margin-bottom: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      display: block;
      // line-height: 40px;
      color: #063b8d;
      font-size: 15px;
      font-family: Lato;
      transition: color 0.3s ease-out;
      // line-height: 35px;
    }
    i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #58595a;
    }
    &:hover{
      background-color: #58595a;
      i{
        color: white;
      }
    }
  }
}

.error-custom{
  border: 1px $color-red solid;
  color: $color-red;
  p {
    color: $color-red;
    clear: both;
  }
  &.four-btn-row {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
  }
}

.error-custom{
  border: 1px $color-red solid;
  color: $color-red;
  p {
    color: $color-red;
    clear: both;
  }
  &.four-btn-row-custom {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
    width: 800px;
  }
}


.error-custom-message {
  color: $color-red;
}

.square {
 border: solid 1px #000;
 width: 30px;
 height: 30px;
 display: table-cell;
 line-height: 2em;
 text-align: center;
}

.nodecor {
 text-decoration: none !important;
}

.input-group-addon a {
  text-decoration: none;
  color: $color-blue;
  &:hover {
    color: $color-blue;
    font-weight: normal;
    }
}
.workshop-actions{
  display: inline-block;
  max-width: 450px;
  vertical-align: middle;
  @include phone{
    margin-top: 30px;
  }
  .btn{
    width: 47%;
    margin: 0 2% 2% 0;

    &:last-child,
    &:nth-last-child(2){
      margin-bottom: 0;
    }
    @include phone{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}


.back-to-worshop{
  margin-bottom: 30px;
}