@import "tailwindcss";
@import "./pagination.css";
@import "./components/buttons";

@source "../../views/**/*.html.erb";
@source "../../javascript/**/*.js";
@source "../../helpers/**/*.rb";

@theme {
  --color-primary: #063b8d;
  --color-secondary: var(--color-gray-500);
  --color-danger: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-info: var(--color-blue-500);
  --color-success: var(--color-green-500);
  --color-transparent: transparent;
}

/* ✅ Safelist dynamically generated colors */
@layer utilities {
  .text-transparent { color: transparent; }

  ._safelist {
    /* background colors */
    @apply
    bg-blue-100 bg-blue-500
    bg-green-500
    bg-indigo-100
    bg-orange-100
    bg-pink-100
    bg-purple-100 bg-purple-200 bg-purple-500
    bg-red-800
    bg-yellow-200

    bg-gray-200;

    /* text colors */
    @apply
    text-blue-800
    text-green-800 text-green-200
    text-indigo-800
    text-orange-800
    text-pink-800
    text-purple-800
    text-red-800
    text-yellow-800

    text-gray-50 text-transparent;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .animate-fade {
    animation: fadeIn .5s ease-in-out;
  }
}

.readonly {
  @apply bg-gray-100 text-gray-500 cursor-not-allowed border-gray-300;
}

.readonly select,
.readonly input,
.readonly textarea {
  @apply bg-gray-100 text-gray-500 cursor-not-allowed border-gray-300;
}
