@import "tailwindcss";
@import "./pagination.css";

@source "../../views/**/*.html.erb";
@source "../../javascript/**/*.js";
@source "../../helpers/**/*.rb";

/* ✅ Safelist dynamically generated colors */
@layer utilities {
  /* prettier-ignore */
  ._safelist {
    /* background colors */
    @apply bg-pink-100 bg-pink-800 bg-indigo-100 bg-indigo-800 bg-red-800
    bg-blue-500 bg-green-500 bg-purple-100 bg-purple-200 bg-purple-500 bg-gray-200 bg-yellow-200;

    /* text colors */
    @apply text-pink-800 text-indigo-800 text-green-800 text-yellow-800
    text-red-800 text-purple-800 text-green-200;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .animate-fade {
    animation: fadeIn .5s ease-in-out;
  }
}

@theme {
  --color-primary: #063b8d;
  --color-secondary: var(--color-gray-500);
  --color-danger: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-info: var(--color-blue-500);
  --color-success: var(--color-green-500);
}

@import "./components/buttons";
