<% if @resources.any? %>
  <table width="80%" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @resources.each_with_index do |resource, i| %>
        <% next if resource.kind == 'Story' %>
        <%= render 'flex', resource: resource.decorate, index: i + 1 %>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are no resources that match your search.  Please try again.
<% end %>
