<div class="container-fluid search-curriculum-page resources-page">

  <div class="row result-title">
    <div class="col-md-12 col-lg-8 width">
      <h2 class="normal">Community News</h2>
    </div>
  </div><!-- result title-->

  <div class="row">
    <div class="col-md-12 col-lg-12 width" >
      <% if @stories.any? %>
        <table width="80%" class="table">
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody id="stories-list">
            <% @stories.each do |r| %>
               <%= render 'story', resource: r %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        There are no resources that match your search.  Please try again.
      <% end %>
    </div>

    <div class="text-center">
      <%= will_paginate @stories, :previous_label => '<<', :next_label => '>>', :inner_window => 2 %>
    </div>

  </div><!-- result row -->

</div><!-- container-fluid -->
