<div class="mx-auto px-4 py-8">
  <h2 class="text-3xl font-semibold text-gray-900 mb-4">Edit <%%= @<%= singular_table_name %>.class.model_name.human %></h2>
  <div class="border-b border-gray-300 mb-6"></div>
    <div class="mt-4 pt-4">
      <%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</div>
