<div class="row mb-3">
  <div class="col text-end">
    <%%= link_to "Delete", @<%= singular_table_name %>, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" if current_user.super_user? %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Edit <%%= @<%= singular_table_name %>.class.model_name.human %></h2>
    <%%= render "form", locals: { <%= singular_table_name %>: @<%= singular_table_name %> } %>
  </div>
</div>
