<div class="max-w-7xl mx-auto px-4 py-8">
  <h1 class="text-3xl font-semibold text-gray-900 mb-4">New <%%= <%= plural_table_name.classify %>.model_name.human %></h1>
  <div class="border-b border-gray-300 mb-6"></div>
  <div class="mt-4 pt-4">
    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</div>
