@import "colors";
@import "spacing";
@import "typography";
@import "borders";
@import "forms";
@import "buttons";
@import "links";

html, body {
  height: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

// Firefox specific rule
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body {
  // @include font-feature-settings("kern", "liga", "pnum");
  // -webkit-font-smoothing: antialiased;
  color: $color--body;
  font-family: $fontFamily--body;
  line-height: $lineHeight--body;
  background-color: $body-background-color;
  margin: 0;
}
a {
  text-decoration: none;
  color: $color-black;
  &:hover {
    color: midnightblue;
    font-weight: normal;
  }
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.content {
  @media(max-width: $screen-xs-max) {
    margin: 0 auto;
  }
  a {
    color: $color-headerBlue;
    font-weight: 500;
    text-decoration: underline;
  }

  .nav-container a, .btn a, a.btn, .btn, .circle a, a.add_fields {
    text-decoration: none;
  }

  .main-content {
    padding-top: 79px;
    position: relative;
    @media(max-width: $screen-xs-max) {
      padding-top: 50px;
    }
  }

  .content-area {
    min-height: 1150px;
    @media(min-width: $screen-md-min) {
      margin-left: 256px;
    }
  }

}
.TextHeader2 {
  font-weight: bold;
}
.more-width {
  @include media($large-screen-up) {
    min-width: 802px;
  }

  @include media($large-screen-down) {
    margin-top: 46px
  }

  section {
    max-height: 22em;
    overflow: scroll;
    overflow-x: auto;
  }
}
.clear {
  clear: both;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.even-more-width {
  @include media($large-screen-up) {
      min-width: 990px;
    }
}

.content-area {
  @include full_desktop{
    padding-top: 35px;
  }
  @include media($medium-screen-up) {
    width: calc(98% - 244px);
    margin-left: 250px;
  }
  @include tablet{
    width: 100%;
    margin-left: 0;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

footer {
  background-color: $color-headerBlue;
  margin: 0 auto;
  margin-top: 75px;
  min-height: 16em;
  z-index: 100;
  position: relative;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, Overpass, Lato, Helvetica, sans-serif;
  .contact {
    padding-top: 80px;
    li {
      text-align: center;
      padding: 0 50px;
      dt {
        padding: 0px;
        margin: 0px;
        font-weight: 300;
        font-size: 11px;
        text-transform: uppercase;
        line-height: 24px;
        letter-spacing: 1px;
        @media (max-width: $screen-xs-max) {
          text-align: center;
        }
      }
      dd {
        padding: 0px;
        margin: 0px;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 24pt;
        span { // Some browser add span to numbers for additional styling
          color: #f5f5f5 !important;
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    font-size: 15px;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 20px;
    letter-spacing: 1px;
  }
}

.reset-list-items li {
  list-style-type: initial;
  width: 85%;
  margin: 0 auto;
}
@media print {

  footer {
    display: none;
  }
  .content {
    visibility: hidden;
  }
  .printable-area * {
    visibility: visible;
  }
  .printable-area {
    padding-right: 0px;
    position: absolute;
    top: 0;
  }
  @page {
    size: 330mm 427mm;
    margin: 14mm;
  }
  .container {
    width: 1170px;
  }

}
.alert {
  background-color: $color-purpleLight;
  color: $color-white;
  font-size: 200%;
}
.error {
  background-color: $color-red;
  color: $color-white;
  font-size: 200%;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}
.faq {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 120%;
  line-height: 2;
}

span.disabled {
  display: none;
}

div#workshop-top {
  width: 100%;
}

.a-tiny{
  @extend a;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #063b8d;
}


hr{
  margin: 30px 0;
  border-top: 1px solid #e7e4e4;
}

.single-quote{
  margin-bottom: 20px;
}
.submit-row{
  max-width: 480px;
  margin-top: 70px;
}

textarea,
input[type='text'],
input[type='number'],
.datepicker-group,
select{
  max-width: 480px;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.a-news {
  font-size: 14px !important;
  font-weight: 500;
  line-height: 1.71 !important;
  letter-spacing: 0.5px;
  color: #063b8d;
}

.a-dashboard-underline {
  font-size: 14px !important;
  font-weight: 500;
  line-height: 1.71 !important;
  letter-spacing: 0.5px;
  color: #063b8d;
  text-decoration: underline !important;
}

.resources-content{
  background-color: white;padding: 10px;
}

.container-custom-dashboard{
  padding-top:20px;
}

.inner-container{
  width: 69%;
  @media (max-width: $screen-md-max) {
    width: 100%;
  }
}

.dashboard-area {
  max-width: 1313px;
}

.banner-news{
    background-color: #FFCB05;
    color: $color-black;
    font-weight: 400;
    text-align: center !important;
    height: 45px !important;
    width: 100% !important;
    padding: 6px;
    margin: 0px !important;
    top: 0;
    left:0;
    font-size: 20px;
    position: fixed;
    z-index: 20000;
    @media (max-width: $screen-xs-max) {
	font-size: 3px;
	height: auto !important;
	position: absolute;
	width: 100%;
    }

}
.separator {
    height: 17px;
    @media (max-width: $screen-xs-max) {
	height: 6px;
    }
}
