// Borders
// --------------------------------------------------
$border-solidBase: $border-thickness solid $color--borderBase;
$border-radiusRound: 9999px;

$border-btnSecondary: $border-thickness solid $color--btnPrimary;
$border-flash: $border-thickness dashed;

.dotted {
  border-top: dashed 1px;
  border-top-color: $color-black80;
}

