@font-face {
  font-family: "cinetype";
  src: font-url("GT-Cinetype-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cinetype";
  src: font-url("GT-Cinetype-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "cinetype-mono";
  src: font-url("GT-Cinetype-Mono.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "telefon";
  src: font-url("Telefon-Normal.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "telefon";
  src: font-url("Telefon-Bold.otf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "telefon-black";
  src: font-url("Telefon-Black.otf");
  font-weight: normal;
  font-style: normal;
}


// Font sizes (private vars)
// --------------------------------------------------
$fontSize-micro: em(modular-scale(-4));
$fontSize-smallest: em(modular-scale(-3));
$fontSize-smaller: em(modular-scale(-2));
$fontSize-small: em(modular-scale(0));
$fontSize-base: em(modular-scale(1));
$fontSize-large: em(modular-scale(2));
$fontSize-larger: em(modular-scale(3));
$fontSize-largest: em(modular-scale(4));
$fontSize-jumbo: em(modular-scale(5));
$fontSize-huge: em(modular-scale(6));
$fontSize-giant: em(modular-scale(7));
$fontSize-gigantic: em(modular-scale(8));
// Font size applications
// --------------------------------------------------
$fontSize--body: $fontSize-base;
$fontSize--h1: $fontSize-huge;
$fontSize--h2: $fontSize-jumbo;
$fontSize--h3: $fontSize-largest;
$fontSize--h4: $fontSize-larger;
$fontSize--h5: $fontSize-large;
$fontSize--h6: $fontSize-base;
$fontSize--small: $fontSize-small;
$fontSize--btn: $fontSize-base;
$fontSize--btnBig: $fontSize-large;
$fontSize--btnSmall: $fontSize-small;
$fontSize--logo: $fontSize-large;
$fontSize--checkbox: $fontSize-larger;
$fontSize--radio: $fontSize-huge;
$fontSize--subtitle: $fontSize-large;
$fontSize--statAmount: $fontSize-larger;
$fontSize--benefitsHeader: $fontSize-larger;
$fontSize--benefitsCopy: $fontSize-large;

// Letter spacings
// --------------------------------------------------
$letterSpacing-tightest: 0.6;
$letterSpacing-tighter: 0.8;
$letterSpacing-tight: 0.9;
$letterSpacing-normal: 1;
$letterSpacing-loose: 1.4;
$letterSpacing-looser: 1.7;
$letterSpacing-loosest: 2;

$projectBodyFont: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$menuFont: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;;
$projectDisplayFont: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;;
$fontFamily--body: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFamily--headers: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$fontFamily--labels: "Roboto", "Helvetica Neue", Helvetica, sans-serif;


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color--header;
}
// Font weights and styles
@for $i from 1 through 9 {
  $w: $i * 100;
  .font-bodyN#{$i} {
    -webkit-font-smoothing: antialiased;
    font-family: $fontFamily--body;
    font-style: normal;
    font-weight: $w;
  }
  .font-bodyI#{$i} {
    -webkit-font-smoothing: antialiased;
    font-family: $fontFamily--body;
    font-style: italic;
    font-weight: $w;
  }
  .font-displayN#{$i} {
    -webkit-font-smoothing: antialiased;
    font-family: $fontFamily--headers;
    font-style: normal;
    font-weight: $w;
  }
  .font-displayI#{$i} {
    -webkit-font-smoothing: antialiased;
    font-family: $fontFamily--headers;
    font-style: italic;
    font-weight: $w;
  }
}
h1 {
  @extend .font-displayN6;
  font-size: $fontSize--h2;
  line-height: $lineHeight--h2;
  margin: $spacing-tightish;
  @include media($large-screen) {
    font-size: $fontSize--h1;
    line-height: $lineHeight--h1;
  }
  &.banner {
    color: $color-purpleLight;
    display: inline-block;
    a {
      color: $color-purpleLight;
    }
  }
}
h2 {
  @extend .font-displayN6;
  font-size: $fontSize--h3;
  line-height: $lineHeight--h3;
  margin: 0 0 $spacing--h3;
  color: #133e70;
  @include media($large-screen-up) {
    font-size: $fontSize--h3;
    line-height: $lineHeight--h2;
    margin: 0 0 $spacing--h2;
  }
  &.normal {
    font-weight:lighter;
    color: #133e70;
  }
}
h3 {
  font-size: $fontSize--h3;
  line-height: $lineHeight--h3;
  &.no-margin-top {
    margin-top: 0;
  }
  &.less-line-height {
    margin-bottom: 0;
  }
  &.section-title {
    margin: 0;
  }
}
h4 {
  &.larger {
    font-size: 20px;
  }
}
h6 {
  border: 5px solid black;
  padding: 10px;
  font-size: 18px;
  font-family: 'telefon_boldregular';
  background: #DDDDDD;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  max-width: 400px;
  line-heighT: 48px;
  &:hover {
    background: royalblue;
    color: white;
    border: 5px solid #DDDDDD;
  }
}
.normal {
  font-weight: normal;
}
.underline {
  text-decoration: underline;
}
.small {
  font-size: $fontSize-small;
}
.smaller {
  font-size: 13px;
}
.bold {
  font-weight: bold;
}
.gray {
  color: $color-gray;
}
.upcase {
  text-transform: uppercase;
}

.white {
  color: $color-white;
}
.larger-font {
  font-size: $fontSize-large;
}
.light {
  font-weight: lighter;
}
.no-margin-top {
  margin-top: 0;
}
.bc {
  font-size: 12px;
  a {
    text-decoration: none;
  }
}
.section-header {
  font-weight: lighter;
  font-size: 1em;
}

.custom-smaller {
  @extend .smaller;
  font-size: 11px;
  color: #4a4a4a;
  font-weight: 500;
}

h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small {
  color: #4d4d4d;
}
