.circle {
  padding: $spacing-normal;
  background: image-url('footer_texture');
  background-size: contain;
  padding-top: 3%;
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 50%;
  height: 12em;
  width: 12em;
  vertical-align: baseline;
  margin: $spacing-tight;
  a {
    /* position: relative; */
    /* top: 42px; */
    font-size: 22px;
    font-weight: bold;
    font-family: 'telefon';
    line-height: 28px;
    color: white;
    /* vertical-align: middle; */
    text-align: center;
    /* margin-top: 10em; */
    /* padding-bottom: 4em; */
    display: block;
    /* top: 50%; */
    /* vertical-align: text-top; */
    padding-top: 2em;
  }
}
