.file-list__file-name {
  font-size: 13px;
  font-weight: bold;
}

.file-list__other-info {
  font-size: 13px;
  font-weight: 400;
  color: #696a6b;
}

.file-list__item {
  position: relative;
  border-bottom: 1px solid #d1d6db;
  background: white;
  margin-bottom: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);;
  max-width: 481px;
  width: 100%;
  display: flex;
  border-radius: 4px;
}

.file-list__meta-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 8px 8px 0;
  flex: 1 0 auto;
}

.file-list__file {
  font-size: 4rem;
  line-height: 1;
}
.file-list__img {
  img {
    max-height: 60px;
    max-width: 100px;
  }
}
.file-list__actions {
  display: flex;
  font-size: 26px;
  align-items: center;
  padding: 12px 12px 12px 8px;
  label {
    margin: 0;
  }
  i.fas {
    font-size: 18px;
    color: #063b8d;
    padding: 4px;
    transition: 150ms all ease-in-out;
    position: relative;
    &::after {
      display: none;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 4px 8px;
      line-height: 1;
      font-size: 12px;
      border-radius: 8px;
      width: max-content;
      background-color: #063b8d;
      color: white;
      display: block;
      position: absolute;
      height: auto;
      z-index: 1000;
      left: 50%;
      bottom: -22px;
    }
    &.fa-trash-alt {
      color: #F58B8B;
      margin-left: 6px;
      &:hover {
        color: #E63C3A;
        &:after {
          content: 'Remove File';
          margin-left: -40px;
        }
      }
    }
    &.fa-pen {
      color: #59ADF8;
      margin-left: 6px;
      &:hover {
        color: #063b8d;
        &:after {
          content: 'Edit File';
          margin-left: -31px;
        }
      }
    }
  }
}
.file-list--error {
  background-color: #E63C3A;
  border: 2px solid #E63C3A;
  .file-list__actions {
    i.fas {
      &.fa-trash-alt, &.fa-pen {
        color: #FCF3F1;
        &:hover {
          color: white;
        }
      }
    }
  }
}
.file-list__error {
  position: absolute;
  top: 0;
  margin-left: -140px;
  z-index: 2;
  left: 50%;
  font-size: 13px;
  background: #E63C3A;
  font-weight: bold;
  color: #FCF3F1;
  padding: 1px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.file-list__media {
  margin-right: 12px;
  width: 96px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-top-left-radius: 4px;
  overflow: hidden;
  border-bottom-left-radius: 4px;
  color: #063B8D;
  background: #C0E8FA;
}
.pdf {
  color: #5947EC;
  background: #D7DDF9;
}
.msword,
.vnd\.ms-word,
.vnd\.oasis\.opendocument\.text,
.vnd\.openxmlformats-officedocument\.wordprocessingml\.document {
  color: #2868C9;
  background: #CCEAF4;
}
.vnd\.ms-excel,
.vnd\.openxmlformats-officedocument\.spreadsheetml\.sheet,
.vnd\.oasis\.opendocument\.spreadsheet {
  color: #358D1C;
  background: #E0F1CB;
}
.vnd\.ms-powerpoint,
.vnd\.openxmlformats-officedocument\.presentationml,
.vnd\.openxmlformats-officedocument\.presentationml\.presentation,
.vnd\.oasis.opendocument\.presentation {
  color: #DD4A1E;
  background: #F8E3CE;
}
.gzip, .zip {
  color: #C45A16;
  background: #F6E8C8;
}
