.large {
  width: 100%;
  max-width: 440px;
  max-height: 300px;
}
.image {
  height: 20em;
  background-repeat: no-repeat;
  max-width: 30em;
}
.flex.thumb {
  width: 138px;
  height: 106px;
  float: left;
  padding-right: 8px;
  margin-right: .5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.portrait-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  
  &:after{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: calc(10/16*100%);
  }
}