.nav-container {
  @include font-feature-settings("kern", "liga", "pnum");
  @media (min-width: $screen-md-min) {
    position: absolute;
  }
  padding-left: 0;
  padding-right: 0;

  background: #6e9ce8 none repeat scroll 0 0;
  -webkit-font-smoothing: antialiased;
  height: 100%;

  &.col-md-2 {
    @media (min-width: $screen-md-min) {
      width: 244px;
      display: block;
    }
  }
}
nav.navSide {
  @media (min-width: $screen-md-min) {
    height: 100%;
    overflow-x: auto;
  }
  z-index: 90;
  width: 100%;
  padding-top: 2px;
  overflow: scroll;
  background: #6e9ce8 none repeat scroll 0 0;
  overflow-y: auto;
}
.nav-text {
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    margin-right: 8px;
  }
}
li.nav-item {
  height: 7.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px !important;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon-arrow-down {
    color: white;
    padding-left: 4px;
  }
  .icon {
    display: block;
    color: white;
    font-size: 25px;
    margin: 0 auto;
    width: 25px;

    &.icon-bookmarks {
      font-size: 20px;
    }
  }
  img.icon {
    margin-bottom: 10px;
  }
  &.active {
    background: $color-headerBlue;
  }
  &.sub-nav-item {
    height: auto;
    margin: 0 12px;
    text-transform: none;
    &.active {
      margin: 0;
      text-decoration: underline white;
    }
  }

  span {
    color: $color-white;
    vertical-align: middle;
    font-size: 13px !important;
  }
  .fa-envelope-o{
    padding-bottom: 10px;
  }
}
ul.submenu {
  display: none;
  // margin-top: -30px;
  // margin-bottom: 10px;
  background-color: $color-headerBlue;
  padding: 10px 0;
  li.js-add-leader {
    height: 50px;
  }
  li.js-add-workshop-log {
    height: 20%;

  }
  li.js-add-montly-report {
    height: 20%;
  }
}
.is-expanded {
  display: block;
  padding-bottom: 0;
}
li.nav-item.no-padding-right.sub-nav-item a {
  color: $color-white;
}
.users-group {
  padding-left: 22px;
  .smaller {
    font-size: 10px;
   }
}
