.pagination {
  text-align: center;
  em.current {
    color: $color-navPurple;
    font-size: 20px;
    font-style: normal;
    font-family: 'telefon-black';
  }
}
.pagination a {
  padding: 14px;
  color: black;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.btn_container {
  text-align:center;
}
