.pencil-container {
  min-width: 180px;
  cursor: default;
}
.pencil {
  background-image: image-url('pencil.png');
  width: 50%;
  max-width: 60px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 6px;
  max-height: 20px;

  span {
    font-size: 10px;
    position: relative;
    left: 4px;
    top: 1px;
    font-weight: 600;
    border: none;
    vertical-align: super;
    color: white;
  }
}
