.leaders-container,
.variations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .spacing-tight {
    width: 49%;
    padding: 8px;
    min-width: 200px;
    a img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 8px;
      max-height: 200px;
    }
    a .small {
      text-align: left;
      font-weight: 700;
      font-size: 1.3em;
    }
  }
  .spacing-tight a,
  .workshop-variation {
    text-decoration: none;
    display: block;
    padding-right: calc(100% - 200px);
  }
  &:after {
    content: "";
    flex: auto;
  }
}

.variations-container{
  justify-content: flex-start;
  .workshop-variation {
    padding: 8px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid $color-headerBlue;
  }
}