.table {
  &.table-striped {
    tr {
      .blue-100 {
        background-color: #E5F7FC;
      }
      .green-100 {
        background-color: #FBF4EB;
      }
      &:nth-child(2n) {
        .blue-100 {
          background-color: #C0E8FA;
        }
        .green-100 {
          background-color: #F8E3CE;
        }
      }
      .blue-200 {
        background-color: #C0E8FA;
      }
      .green-200 {
        background-color: #F8E3CE;
      }
    }
  }
  thead {
    th {
      border: 1px solid #ccc;
    }
  }
}
