$content-font-size: 14px;
$caption-font-size: 12px;

.wysiwyg-content{
  font-family: $ff-one;
  &.clearfix{
    overflow: initial;
  }
  h1{
    margin-left: 0;
    margin-right: 0;
  }
  h2{
    color: #464748;
  }
  p{
    line-height: 1.71;
    letter-spacing: 0.5px;
    color: #464748;
  }

  hr{
    width: 100%;
  }
  
  ol{
    li{
      list-style-type: decimal;
    }
  }

  ol,
  ul{
    padding-left: 40px;
  }

  ol,
  ul,
  li,
  p{
    font-family: $ff-one;
    font-size: $content-font-size;
    letter-spacing: 0.5px;
    line-height: 1.71;
  }

  li{
    width: auto;
  }

  table{
    max-width: 100%;
    &,
    th,
    td,
    tr{
      font-family: $ff-one;
      font-size: $content-font-size;
      border: 0;
      padding: 0;
      border-spacing: 0;
    }
  }

  input[type="text"],
  input[type="mail"],
  input[type="tel"],
  input[type="number"],
  textarea{
    background-color: transparent;
    border: solid 1px #d4d4d4;
    box-shadow: none;
    font-family: $ff-one;
  }

  form{
    div{
      margin-bottom: 30px;
    }
  }

  blockquote{
    font-family: $ff-one;
    border-left: 5px solid #d4d4d4;
  }

  label{
    font-size: $content-font-size;
    font-family: $ff-one;
  }

}

.wysiwyg-content--lists-fixed{
  li{
    list-style-type: inherit;
  }
}


.awbw-caption{
  font-family: arial;
  font-size: 12px;
  font-style: italic;
  font-weight: Bold;
  line-height: 1.3;
}
