.resources-page.search-curriculum-page{
  &.container-fluid.search-curriculum-page{
    @include phone{
      padding: 0;
    }
  }
  .result-title{
    margin-bottom: 12px;
  }
  .title-spacing {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .entry-content{
    margin-bottom: 20px;
    h2{
      margin-bottom: 0;
    }
  }
  .search-row{
    margin-bottom: 15px;
  }
  .clear-lnk{
    line-height: 34px;
    margin: 0 auto 0 15px;
    display: inline-block;
    @include phone {
      display: block;
      text-align: right;
    }
  }
  form {
    .search-wrapper{
      width: 100%;
      max-width: 600px;
      @include phone {
        max-width: 100%;
      }
      .search-field-row{
        margin-bottom: 0;
      }
    }
  }
  .filter-wrapper{
    .small-gray-title{
      margin-bottom: 10px;
    }
  }
  .filter-wrapper .form-group {
    .four-btn-row {
      display: flex;
      .btn-group {
        width: 20%;
        label.btn-sortable {
          width: 100%;
          min-width: 0;
        }
      }
    }
    @include phone {
      .four-btn-row {
        flex-wrap: wrap;
        .btn-group {
          width: auto;
          margin-right: 15px;
        }
      }
    }
  }
  #load_more_resources{
    min-width: 296px;
  }
  .attachment-actions{
    vertical-align: middle;
    .attachment-col{
      display: inline-block;
      margin-right: 30px;
      text-align: center;
      @include phone{
        margin-right: 40px;
      }
      &:last-child{
        margin-right: 0;
      }
      i{
        font-size: 32px;
        color: #063b8d;
        line-height: 40px;
        margin-bottom: 5px;
      }
    }
  }
  @include phone{
    .flex-title.less-width{
      padding-top: 0;
    }
  }
  table{
    thead{
      @include phone{
        display: none;
      }
    }
    tbody{
      tr,
      td{
        @include phone{
          display: block;
        }
      }
      td{
        @include phone{
          border: none;
        }
      }
      tr{
        @include phone{
          position: relative;
          margin-bottom: 30px;
          padding-bottom: 15px;
          border-bottom: 1px solid #cccccc;
        }
        td.attachment-actions{
          @include phone{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10px;
            text-align: center;
          }
        }
        td:not(.attachment-actions){
          @include phone{
            padding-bottom: 85px;
          }
        }
      }
    }
  }
  
}

.resource-image{
  margin-bottom: 30px;
  img{
    max-width: 100%;
  }
}

.resource-image__large{
  width: 400px;
}