.search-curriculum-page {

  .entry-content{
    margin-bottom: 30px;
    width: 69%;
    @include phone_tablet {
      width: 100%;
    }
  }
  
  .small-gray-title {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.3px;
    color: #4a4a4a;
    margin: 0;
  }

  .instructions {
    margin-bottom: 18px;
    letter-spacing: 0.5px;
    color: #58595a;
    line-height: 1.7;
  }

  .btn-wrapper {
    margin-bottom: 40px;
    @include clearfix;
  }

  .btn-filters {
    width: 162px;
    height: 34px;
    line-height: 34px;
    border: solid 2px #063b8d;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    color: #063b8d;
    margin-right: 71px;
    margin-bottom: 0;
    float: left;
    margin-right: 0;
    @media (max-width: 1204px) {
      margin-bottom: 10px;
    }
    .clear-all {
      margin-bottom: 0;
    }
  }

  .clear-all {
    float: right;
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 34px;
    @include tablet{
      margin-right: 0;
    }
    a {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      letter-spacing: 0.5px;
      color: #063b8d;
    }
  }
  
  form {
    @include clearfix;
    .checkbox-area {
      width: 32%;
      margin-right: 40px;
      float: left;
      @include phone {
        width: 100%;
      }
      .categories-fields-wrapper {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
        border: solid 0.8px #d4d4d4;
        background-color: #ffffff;
        margin-bottom: 15px;
        .categories-header {
          position: relative;
          label {
            padding: 0 12px;
            margin: 0;
            height: 35px;
            line-height: 35px;
            font-weight: 500;
            border-bottom: 0.8px solid transparent;
            transition: border-color 0.3s ease-out;
            &.target-active{
              border-bottom: 0.8px solid #d4d4d4;
            }

          }
          img.arrow-down {
            position: absolute;
            right: 11px;
            width: 15px;
            top: 50%;
            margin-top: -4px;
            transform: rotate(0deg);
            transition: transform .3s ease-out;
            &.rotate {
              transform: rotate(180deg);
            }
          }
        }
        .categories-fields {
          display: none;
          height: 185px;
          padding: 11px 14.5px 17px;
          margin: 0;
          overflow: auto;
          .input-group {
            margin-bottom: 19px;
          }
        }
      }
    }
    .search-wrapper {
      float: left;
      width: 61%;
      @include phone {
        width: 100%;
      }
      .search-field-row {
        margin-bottom: 7px;
        .search {
          font-family: Roboto, Helvetica, sans-serif;
          font-size: 12px;
          color: #464748;
        }
        .btn-search-wrapper {
          position: absolute;
          right: 0;
          border: 0;
          padding: 0;
          transition: background-color .3s ease-out, color .3s ease-out;
          input.search-btn{
            min-width: auto;
            border: none;
            visibility: hidden;
          }
          i,
          input.search-btn{
            transition: background-color .3s ease-out, color .3s ease-out;
          }
          &:hover{
            background-color: #063b8d;
          }
        }
      }
      .apply-all {
        float: none;
        margin-bottom: 15px;
      }
      .small-gray-title {
        margin-bottom: 10px;
      }
      .search-filters {
        padding: 0;
        b {
          font-family: Roboto, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.3px;
          color: #4a4a4a;
        }
        .input-group {
          display: inline-block;
          margin-bottom: 10px;
        }
        .sortable-label{
          width: 75px;
        }
        .sortable-group{
          width: calc(100% - 75px);
          .input-group{
            &:last-child{
              margin-right: 0;
            }
          }
        }
        .sortable-label,
        .sortable-group{
          float: left;
        }

      }
      .list-group {
        .list-group-item-custom {
          @media (min-width: 992px) and (max-width: 1216px) {
            padding-top: 50px;
          }
          @media (max-width: 427px) {
            padding-top: 50px;
          }
          .portrait-img {
            margin-bottom: 0;
            @media (min-width: 992px) and (max-width: 1216px) {
              margin-bottom: 20px;
              height: auto;
              width: 100%;
            }
            @media (max-width: 427px) {
              margin-bottom: 20px;
              height: auto;
              width: 100%;
            }
          }
          .led {
            position: absolute;
            display: inline-block;
            top: 25px;
            right: 20px;
            font-family: Roboto, Helvetica, sans-serif;
            font-size: 12px;
            color: #4a4a4a;
            @media (min-width: 992px) and (max-width: 1216px) {
              right: auto;
            }
            @media (max-width: 427px) {
              right: auto;
            }
          }
          h3 {
            font-family: Roboto, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.3px;
            color: #4a4a4a;
            margin-top: 0;
            margin-bottom: 4px;
          }
          .workshop-description {
            margin-bottom: 4px;
          }
          a {
            color: #063b8d;
          }
          
        }
      }

      .btn-container{
        background-color: white;
        text-align: center;
        padding: 15px;
        .btn{
          margin-bottom: 0;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }

      .paginate-container{
        background-color: white;
        text-align: center;
        padding: 2px;
     }

    }
  }

  .input-group {
    margin-right: 40px;
    input[type='checkbox'] {
      margin-right: 7px;
      margin-top: 5px;
    }
    .small {
      font-family: Roboto, Helvetica, sans-serif;
      font-size: 12px;
      color: #464748;
    }
  }
}