<div class="container-fluid workshop-logs">
  <h2 class="normal">Annual Evaluation</h2>
  <hr/>
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="entry-content">
        <p> Our Annual Evaluation will be released in November. Check back here for updates.</p>
      </div>
    </div>
  </div>
</div>
