<h1>How to impersonate a user</h1>
<hr />
<p class="lead">
Please confirm that you have Super User permissions by going to “Users” in the CMS, locate yourself, click edit, scroll down and select the “Super User” checkbox, then click Save at the bottom of the page.
</p>

<div class="row">
  <div class="col-md-6">
    <a href="/images/impersonate_help/impersonate-user-cms.png" target="_blank">
      <img src="/images/impersonate_help/impersonate-user-cms.png" class="img-responsive" ></img> <br />
    </a>
  </div>
</div>

<p class="lead">
Log into the Dashboard, go to the dropdown menu in the upper righthand corner, and select “Impersonate User”.
</p>

<img src="/images/impersonate_help/impersonate-user-menu.png" class="img-responsive" ></img> <br />

<p class="lead">
Search for the desired user via the search field then click the impersonate button next to their name.
</p>

<div class="row">
  <div class="col-md-6">
    <a href="/images/impersonate_help/impersonate-user-list.png" target="_blank">
     <img src="/images/impersonate_help/impersonate-user-list.png" class="img-responsive" /> <br />
    </a>
  </div>
</div>

<p class="lead">
You will be automatically redirected to the Dashboard as the selected user. You will notice that the top-right dropdown menu no longer says your name but that of the person you’re impersonating. You can navigate through the site as though you are them. Once finished, you can return to your session by clicking the link in the top-right dropdown menu titled “Back To My Session”
</p>

<img src="/images/impersonate_help/impersonate-user-go-back.png" class="img-responsive" />
